
.rightBox{
    width:70%;
}
.emptyImg{
    width:60%;
}

.backButton{
    color: gray;
    background-color: transparent;
    border: none;
}
.backButton:hover{
    color: gray;
    background-color: lightgray;
}
.backButton:active{
    color: gray;
    background-color: lightgray;
}
.backButton:focus{
    color: gray;
    background-color: lightgray;
}

.fContainer{
    margin-top: 0px;
   max-height:80vh;
    overflow-y:auto;
    overflow-x:hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #20bead; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #20bead; 
  }