/* body{
    overflow-y: sc;
} */
/* Left SideBar */
.leftSideBar{
    width:18%;
    display:flex;
    flex-direction: column;
 }
 .optionBtn{
     background:none;
     border:none;
     color:gray;
     font-size:1.2rem;
     width:100%;
     padding:5px 30px;
     height:40px;
     margin-top:5px;
     border-radius: 20px;
     text-align:left;
 }
 .optionBtn:hover{
     background-color: lightgray;
     text-decoration: none;
     color:gray;
 }
 .rightBox{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width:60%;
}
 .rightBox h2{
     font-size:2.5rem;
 }
 .teamBox{
    /* border:2px solid gray; */
    margin-top:0%;
    padding:10px;
    width:100%;
   
 }
 .cardImg{
     width:100%;
     height:70%;
 }
 .emptyImg{
     width:60%;
 }
 .socialLink{
     text-align:left;
     text-decoration: none;
     display: block;
     width:10%;
     margin-right:10px;
 } 
 .socialImg{
     width:100%;
}